.jumbotron{
  border-radius: 0;
  background-image: url('~/assets/images/mountains.jpg');
  height: 500px;
  background-size: cover;
  background-position: center center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}